name: Build document in CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: xu-cheng/latex-action@v4
      with:
        root_file: git.tex
        texlive_version: 2025
        latexmk_use_lualatex: true
        latexmk_shell_escape: true
        pre_compile: "cd git"

    - name: Archive built PDF document
      uses: actions/upload-artifact@v4
      with:
        name: git-pdf
        path: git/git.pdf
