name: Build document in CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: sudo apt install texlive-latex-extra texlive-fonts-extra texlive-fonts-recommended texlive-xetex texlive-luatex lmodern make latexmk

    - name: Build slides
      run: cd git && make

    - name: Archive built slides
      uses: actions/upload-artifact@v4
      with:
        name: archive-slides
        path: git/git.pdf
